# Environment
venv/
.env
*.log
NUL
# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# Models & Data (keep structure, ignore large files)
models/final/*.keras
models/tflite/*.tflite
data/raw/
!data/raw/.gitkeep
data/splits/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
